@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Code for Firefox */
::-moz-selection {
  color: white;
  background: #e53d00;
}

::selection {
  color: white;
  background: #e53d00;
}
